//
   Created by SL on 2014/9/7.

doctype html

html(lang="zh-cn")
    head
        title #{title || '女娲'}
        link(rel="stylesheet", href="/admin/stylesheets/style.css")
    body

        div.page-header
            div.container
                //h1 女娲系统，孕育苍生……
        div.container
            block page-content
