<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/admin/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/admin/application/load" method="post">
        <label for="app_name">AppName:</label>
        <input id="app_name" type="text" name="app_name"/>
        <button type="submit">Load</button>
    </form>

    <form action="/admin/application/unload" method="post">
        <label for="app_name">AppName:</label>
        <input id="app_name" type="text" name="app_name"/>
        <button type="submit">UnLoad</button>
    </form>


    <form action="/admin/application/reload" method="post">
        <label for="app_name">AppName:</label>
        <input id="app_name" type="text" name="app_name"/>
        <button type="submit">ReLoad</button>
    </form>
  </body>
</html>
