extends ./layout/layout.jade


block page-content
    div.page-content.container
        div.sidebar
            | 网站建设中...
        div.main-content
            div.time-line
                div.time-line-item
                    div.item-avatar
                        a(href="#")
                            img(src="/smarthome/images/test.png")
                    div.item-content
                        h2.item-heading 史无前例，霸气侧漏的智能马桶
                        |啊哈哈哈，马桶，哈哈哈……
                div.time-line-item
                    div.item-avatar
                        a(href="#")
                            img(src="/smarthome/images/test.png")
                    div.item-content
                        h2.item-heading 史无前例，霸气侧漏的智能马桶
                        |啊哈哈哈，马桶，哈哈哈……
                div.time-line-item
                    div.item-avatar
                        a(href="#")
                            img(src="/smarthome/images/test.png")
                    div.item-content
                        h2.item-heading 史无前例，霸气侧漏的智能马桶
                        |啊哈哈哈，马桶，哈哈哈……
                div.time-line-item
                    div.item-avatar
                        a(href="#")
                            img(src="/smarthome/images/test.png")
                    div.item-content
                        h2.item-heading 史无前例，霸气侧漏的智能马桶
                        |啊哈哈哈，马桶，哈哈哈……
                div.time-line-item
                    div.item-avatar
                        a(href="#")
                            img(src="/smarthome/images/test.png")
                    div.item-content
                        h2.item-heading 史无前例，霸气侧漏的智能马桶
                        |啊哈哈哈，马桶，哈哈哈……


