extends ./layout/layout.jade

block page-header


block page-content
    div.card.spacing-base.shadow-card
        div.card-heading
            strong 注册成功
        div.card-content
            div 注册成功，欢迎使用 #{email}
                a(href="/account/login") 立即登录