extends ./layout/layout.jade
block page-content
    div #{bbdiary}
    div.clock-wrapper.spacing-base
    div.box.diary-box.spacing-middle
        div.box-heading
            h2 2014年10月12号（今天）
                span.weather
                    i.wi-day-sunny.wi
        div.box-content
            div.diary-images
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
            | 小船儿推开波浪 海面倒映着美丽的白塔 四周还绕着绿树红墙 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 红领巾迎着太阳 阳光洒在海面上 水中鱼儿望着我们 悄悄地听我们愉快歌唱 歌谱 歌谱图册 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 做完了一天的功课 我们来尽情欢乐 我问你,亲爱的伙伴 谁给安排下幸福的生活? 小船儿轻轻飘荡在水中 迎面吹来凉爽的风小船儿推开波浪 海面倒映着美丽的白塔 四周还绕着绿树红墙 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 红领巾迎着太阳 阳光洒在海面上 水中鱼儿望着我们 悄悄地听我们愉快歌唱 歌谱 歌谱图册 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 做完了一天的功课 我们来尽情欢乐 我问你,亲爱的伙伴 谁给安排下幸福的生活? 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 ...
        div.box-footing.clear-fix
            div.diary-author-source.from-mama
                i.fa.fa-female
                | &nbsp;来自妈妈
    div.box.diary-box.spacing-middle
        div.box-heading
            h2 2014年10月11号（昨天）
                span.weather
                    i.wi-day-lightning.wi
        div.box-content
            //div.diary-images
            //    img(src="/images/test.jpg")
            //    img(src="/images/test.jpg")
            //    img(src="/images/test.jpg")
            | 小船儿推开波浪 海面倒映着美丽的白塔 四周还绕着绿树红墙 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 红领巾迎着太阳 阳光洒在海面上 水中鱼儿望着我们 悄悄地听我们愉快歌唱 歌谱 歌谱图册 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 做完了一天的功课 我们来尽情欢乐 我问你,亲爱的伙伴 谁给安排下幸福的生活? 小船儿轻轻飘荡在水中 迎面吹来凉爽的风小船儿推开波浪 海面倒映着美丽的白塔 四周还绕着绿树红墙 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 红领巾迎着太阳 阳光洒在海面上 水中鱼儿望着我们 悄悄地听我们愉快歌唱 歌谱 歌谱图册 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 做完了一天的功课 我们来尽情欢乐 我问你,亲爱的伙伴 谁给安排下幸福的生活? 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 ...
        div.box-footing.clear-fix
            div.diary-author-source.from-dad 来自爸爸
    div.box.diary-box.spacing-middle
        div.box-heading
            h2 2014年10月11号（昨天）
                span.weather 晴
        div.box-content
            div.diary-images.image-only
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
        div.box-footing.clear-fix
            div.diary-author-source.from-mama 来自妈妈
    div.box.diary-box.spacing-middle
        div.box-heading
            h2 2014年10月11号（昨天）
                span.weather 晴
        div.box-content
            div.diary-images.image-only
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
            | 小船儿推开波浪 海面倒映着美丽的白塔 四周还绕着绿树红墙 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 红领巾迎着太阳 阳光洒在海面上 水中鱼儿望着我们 悄悄地听我们愉快歌唱 歌谱 歌谱图册 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 做完了一天的功课 我们来尽情欢乐 我问你,亲爱的伙伴 谁给安排下幸福的生活? 小船儿轻轻飘荡在水中 迎面吹来凉爽的风小船儿推开波浪 海面倒映着美丽的白塔 四周还绕着绿树红墙 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 红领巾迎着太阳 阳光洒在海面上 水中鱼儿望着我们 悄悄地听我们愉快歌唱 歌谱 歌谱图册 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 做完了一天的功课 我们来尽情欢乐 我问你,亲爱的伙伴 谁给安排下幸福的生活? 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 ...
        div.box-footing.clear-fix
            div.diary-author-source.from-mama 来自妈妈
    div.box.diary-box.spacing-middle
        div.box-heading
            h2 2014年10月11号（昨天）
                span.weather 晴
        div.box-content
            div.diary-images.image-only
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
                img(src="/images/test.jpg")
        div.box-footing.clear-fix.middle
            div.diary-author-source.from-mama 来自妈妈
        div.box-content
            //div.diary-images
            //    img(src="/images/test.jpg")
            //    img(src="/images/test.jpg")
            //    img(src="/images/test.jpg")
            | 小船儿推开波浪 海面倒映着美丽的白塔 四周还绕着绿树红墙 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 红领巾迎着太阳 阳光洒在海面上 水中鱼儿望着我们 悄悄地听我们愉快歌唱 歌谱 歌谱图册 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 做完了一天的功课 我们来尽情欢乐 我问你,亲爱的伙伴 谁给安排下幸福的生活? 小船儿轻轻飘荡在水中 迎面吹来凉爽的风小船儿推开波浪 海面倒映着美丽的白塔 四周还绕着绿树红墙 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 红领巾迎着太阳 阳光洒在海面上 水中鱼儿望着我们 悄悄地听我们愉快歌唱 歌谱 歌谱图册 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 做完了一天的功课 我们来尽情欢乐 我问你,亲爱的伙伴 谁给安排下幸福的生活? 小船儿轻轻飘荡在水中 迎面吹来凉爽的风 ...
        div.box-footing.clear-fix
            div.diary-author-source.from-dad 来自爸爸
block javascript
    script(type="text/javascript").
        seajs.use(seajs.data.debug? "/javascripts/src/index/index.js" : "index/0.0.1/index", function(index) {
            index.init();
        });
