extends ./layout/layout.jade

block page-content
    div.box
        a.btn(href="/open") 开通Baby主页



block javascript
    script(type="text/javascript").
        seajs.use(seajs.data.debug? "/javascripts/src/index/index.js" : "index/0.0.1/index", function(index) {
            index.init();
        });
