extends ./layout/layout.jade

block page-content
    div.clock-wrapper
        span.hour 243
        span.colon :
        span.minute 45
        span.colon :
        span.second 32
        span.colon :
        span.msecond 8


    script(type="text/javascript").
        seajs.use(seajs.data.debug? "/javascripts/src/index/index.js" : "index/0.0.1/index", function(index) {
            index.init();
        });
