extends ./layout/layout.jade

block page-content
    div.clock-wrapper
        span.hour 243
        span.colon :
        span.minute 45
        span.colon :
        span.second 32
        span.colon :
        span.msecond 8
