//
   Created by SL on 2014/9/7.

doctype html

html(lang="zh-cn")
    head
        title #{title || '用户中心'}
        link(rel="stylesheet", href="/admin/stylesheets/style.css")
    body

        div.page-header
            div.container
                block page-header
                    h1 用户中心
        div.container
            block page-content
