//
   Created by SL on 2014/9/7.

doctype html

html(lang="zh-cn")
    head
        title #{title || 'test'}
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(type="text/javascript", src="/javascripts/spm_modules/seajs/2.3.0/dist/sea.js")
        - if (config.debug)
            script(type="text/javascript", src="/javascripts/spm_modules/seajs-wrap/1.0.1/dist/seajs-wrap.js")
        script(type="text/javascript").
            seajs.config({
                debug: #{config.debug}
            });
        script(type="text/javascript", id="seajsnode", src="/javascripts/seajs-config.js")
    body
        div.container
            block page-content


