//
   Created by SL on 2014/9/7.

doctype html

html(lang="zh-cn")
    head
        title #{title || 'test'}
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no;")
        link(rel="stylesheet", href="http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="http://cdn.staticfile.org/weather-icons/1.2/css/weather-icons.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        script(type="text/javascript", id="seajsnode", src="/javascripts/spm_modules/seajs/2.3.0/dist/sea.js")
        script(type="text/javascript", src="/javascripts/spm_modules/seajs-text/1.1.0/dist/seajs-text.js")
        - if (config.debug)
            script(type="text/javascript", src="/javascripts/spm_modules/seajs-wrap/1.0.1/dist/seajs-wrap.js")
        script(type="text/javascript").
            seajs.config({
                debug: #{config.debug}
            });
        script(type="text/javascript", src="/javascripts/seajs-config.js")
    body
        div.container
            block page-content

        block javascript


