//
   Created by SL on 2014/9/7.

doctype html

html(lang="zh-cn")
    head
        title #{title || 'test'}
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        div.container
            block page-content
